Django==5.2.15
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
psycopg[binary]==3.3.4
python-magic==0.4.27
python-decouple==3.8
weasyprint==69.0
gunicorn==26.0.0
